name: 部署网站

on:
  push:
    branches: [ main ]

  workflow_dispatch:

permissions:
  contents: read
  pages: write
  id-token: write

concurrency:
  group: pages
  cancel-in-progress: false

jobs:
  deploy:
    runs-on: ubuntu-latest
    timeout-minutes: 10

    steps:
      - name: 检出代码
        uses: actions/checkout@v4

      - name: 设置Pages
        uses: actions/configure-pages@v4

      - name: 上传文件
        uses: actions/upload-pages-artifact@v3
        with:
          path: ./website

      - name: 部署
        uses: actions/deploy-pages@v4
